---
import { Icon } from 'astro-icon/components';
import { getHomePermalink, getAsset } from '~/utils/permalinks';
import byBright from '~/assets/images/logo-by-bright.svg';
import byDark from '~/assets/images/logo-by-dark.svg';

const huggingFaceIconUrl = getAsset('/images/huggingface.svg');

interface Link {
  text?: string;
  href?: string;
  ariaLabel?: string;
  icon?: string;
}

interface Links {
  title?: string;
  links: Array<Link>;
}

export interface Props {
  links: Array<Links>;
  secondaryLinks: Array<Link>;
  socialLinks: Array<Link>;
  footNote?: string;
  theme?: string;
}

const { socialLinks = [], secondaryLinks = [], links = [], footNote = '', theme = 'light' } = Astro.props;
---

<footer class:list={[{ dark: theme === 'dark' }, 'relative border-t border-gray-200 dark:border-slate-800 not-prose']}>
  <div class="dark:bg-dark absolute inset-0 pointer-events-none" aria-hidden="true"></div>
  <div
    class="relative max-w-7xl mx-auto px-4 sm:px-6 dark:text-slate-300 intersect-once intersect-quarter intersect-no-queue motion-safe:md:opacity-0 motion-safe:md:intersect:animate-fade"
  >
    <div class="md:flex md:items-center md:justify-between py-6 md:py-8">
      <div class="flex items-center gap-4 mb-4 md:mb-0">
        <a href={getHomePermalink()}>
          <img src={byBright.src} alt="by INSAIT" class="h-6 w-auto dark:hidden" />
          <img src={byDark.src} alt="by INSAIT" class="h-6 w-auto hidden dark:block" />
        </a>
      </div>
      {
        socialLinks?.length ? (
          <ul class="flex mb-4 md:order-1 -ml-2 md:ml-4 md:mb-0 rtl:ml-0 rtl:-mr-2 rtl:md:ml-0 rtl:md:mr-4">
            {socialLinks.map(({ ariaLabel, href, text, icon }) => (
              <li>
                <a
                  class="text-muted dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-700 focus:outline-none focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 rounded-lg text-sm p-2.5 inline-flex items-center"
                  aria-label={ariaLabel}
                  href={href}
                >
                  {icon === 'custom:huggingface'
                    ? <img src={huggingFaceIconUrl} alt="HuggingFace" class="w-5 h-5" />
                    : icon && <Icon name={icon} class="w-5 h-5" />
                  }
                  <Fragment set:html={text} />
                </a>
              </li>
            ))}
          </ul>
        ) : (
          ''
        )
      }

      <div class="text-sm dark:text-muted" data-lang-en style="display:none">
        <Fragment set:html={footNote} />
      </div>
      <div class="text-sm dark:text-muted" data-lang-bg>
        &copy; <a class="text-primary underline" href="https://insait.ai">INSAIT</a> 2026. Всички права запазени.<br />Synergy Tower, бул. Цариградско шосе 111Р, 1784 София, България
      </div>
    </div>
  </div>
</footer>
